.NavMenu {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 1.5rem;
  background-color: var(--blue);
  padding: 0.5rem;

  display: flex;
  flex-direction: column;

  &.open {
    max-width: 50vw;
    width: 20rem;
  }

  .section {
    
  }
}
