@import './js/lib/index.scss';

@import './js/view/DynamicSheet.scss';
@import './js/view/NavMenu.scss';
@import './js/view/ShowCase.scss';

.right {
  text-align: right;
}
.left {
  text-align: left;
}
i {
  cursor: pointer;
}

:root {
  --blue:#64b5f6;
  --dark-blue:#2286c3;
  --light-blue:#9be7ff;

  --red:#ef5350;
  --dark-red: #ff867c;
  --light-red: #b61827;

  --teal:#009688;
  --dark-teal: #52c7b8;
  --light-teal: #00675b;

  --green:#00c853;
  --dark-green: #5efc82;
  --light-green: #009624;

  --yellow:#ffeb3b;
  --dark-yellow: #ffff72;
  --light-yellow: #c8b900;

  --primary:#512da8;
  --dark-primary: #140078;
  --light-primary: #8559da;

  --gray:#455a64;
  --dark-gray: #1c313a;
  --light-gray: #b2bfc5
}
body, html {margin: 0px; padding: 0px;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea, select, input, button { outline: none; }
* {
  font-family: sans-serif;
  transition-duration: 0.4s;
}
